<div class="nav nav-tabs">
  <%= nav_link '1. Choose Recipes', edit_menu_path(@menu) %> 
  <%= nav_link '2. Choose Items', add_others_path(@list) %> 
  <%= nav_link '3. Review Shopping List', edit_list_path(@list) %>
  <%= nav_link 'Your Shopping List', list_path(@list) %>
</div>

<%= link_to 'Add a New Item', new_other_path, class: "btn btn-primary" %>
</br></br>
<input class="visibility_checkbox" type="checkbox" onclick="toggle_visibility()"> Collapse Categories? </input>

<%= form_for @list do |list_form| %>
<%= hidden_field_tag "list[selected_others][]" %>
  <div class="form-inputs">
    <%= list_form.fields_for :other do |other_form| %>
    <% previous_category = "" %>
      <% @others.each do |other| %>
        <% if other.category != previous_category %>
          <h4><%= other.category %></h4>
        <% end %>
        <div class="subcategory">
          <%= check_box_tag "list[selected_others][]", other.id, @list.others.compact.include?(other) %>
          <%= other.default_amount %>
          <%= other.default_unit %>
          <%= other.name %>
          </br></br>
        </div>           
        <% previous_category = other.category %>
      <% end %>  
    <% end %>
  </br>
    
  </div>

  <div class="form-actions">
    <%= list_form.button 'Continue', :name => 'add_others_button',  class: " btn btn-primary" %>
  </div>


<% end %>

<script>
  var short_view = (localStorage.getItem("short_view")=="true");
  $(".visibility_checkbox").prop('checked', short_view);
  $(".subcategory").toggle(!short_view);

  function toggle_visibility() {
    localStorage.setItem("short_view","" + !short_view);
    $(".subcategory").toggle(); 
  };
</script> 
