<div class="nav nav-tabs">
  <%= nav_link '1. Choose Recipes', edit_menu_path(@menu) %> 
  <%= nav_link '2. Choose Items', add_items_path(@list) %> 
  <%= nav_link '3. Review Shopping List', edit_list_path(@list) %>
  <%= nav_link 'Your Shopping List', list_path(@list) %>
</div>

<%= link_to 'Add a New Item', new_item_path, class: "btn btn-primary" %>
</br>

<%= form_for @list do |list_form| %>
<%= hidden_field_tag "list[selected_items][]" %>
  <div class="form-inputs">
    <%= list_form.fields_for :item do |item_form| %>
      <% @items.each do |item| %>
        </br>
        <%= check_box_tag "list[selected_items][]", item.id %>
        </br>
        <%= item.default_amount %>
        <%= item.default_unit %>
        <%= item.name %>
      <% end %>  
    <% end %>
  </br>
    
  </div>

  <div class="form-actions">
    <%= list_form.button 'Continue', :name => 'add_items_button',  class: " btn btn-primary" %>
  </div>


<% end %>

 
