<div class="nav nav-tabs">
  <%= nav_link '1. Choose Recipes', new_or_edit_menu_path(@menu) %> 
  <%= nav_link '2. Choose Items', add_others_path(@list) %> 
  <%= nav_link '3. Review Shopping List', edit_list_path(@list) %>
  <%= nav_link 'Your Shopping List', list_path(@list) %>
</div>

<%= link_to 'Add a New Item', new_other_path, class: "btn btn-primary" %>
</br>

<%= form_for @list do |list_form| %>
<%= hidden_field_tag "list[selected_others][]" %>
  <div class="form-inputs">
    <%= list_form.fields_for :other do |other_form| %>
      <% @others.each do |other| %>
        </br>
        <%= check_box_tag "list[selected_others][]", other.id %>
        </br>
        <%= other.default_amount %>
        <%= other.default_unit %>
        <%= other.name %>
      <% end %>  
    <% end %>
  </br>
    
  </div>

  <div class="form-actions">
    <%= list_form.button 'Continue', :name => 'add_others_button',  class: " btn btn-primary" %>
  </div>


<% end %>

 
