<div class="nav nav-tabs">
  <%= nav_link '1. Choose Recipes', new_or_edit_menu_path(@menu) %>  
  <%= nav_link '2. Choose Items', add_items_path(@list) %> 
  <%= nav_link '3. Review Shopping List', edit_list_path(@list) %>
  <%= nav_link 'Your Shopping List', list_path(@list) %>
</div>

<%= form_for @list do |list_form| %>
<%= hidden_field_tag "list[list_item_ids][]" %>
  
  <div class="form-inputs">
    <%= list_form.label 'Name your shopping list:' %>
    <%= list_form.text_field :name %>
    <%= list_form.label 'Any notes about this list?' %>
    <%= list_form.text_field :comment %>

    <p> Review your shopping list. (Uncheck to remove items.) </p>
    <table class="table list_items table-hover">
      <tr>
        <th> List Item </th>
        <th> Recipe/Item </th>
      </tr>
      <%= list_form.fields_for :item do |item_form| %>
        <% @list.list_items.each do |list_item| %> 
          <tr>
            <td>
              <%= check_box_tag "list[list_item_ids][]", list_item.id, @list.list_items.compact.include?(list_item) %>
              <% if list_item.item_amount %>
                <%= list_item.item_amount %>
                <%= list_item.unit %>
              <% else %>
                <%= list_item.item.default_amount %>
                <%= list_item.item.default_unit %>
              <% end %>    
              <%= list_item.item.name %>
            <td>
              <% if list_item.recipe_id %>
                <%= Recipe.find(list_item.recipe_id).name%> 
              <% else %>
                Selected Item
              <% end %>  
            </td>
          </tr>
        <% end %>  
      <% end %>
    </table>
  </div> 

  <div class="form-actions">
    <%= list_form.button 'Finish', class: "btn btn-primary" %>
  </div>  
<% end %>  

  



