<div class="nav nav-tabs">
  <%= nav_link '1. Choose Recipes', new_or_edit_menu_path(@menu) %>  
  <%= nav_link '2. Choose Items', add_others_path(@list) %> 
  <%= nav_link '3. Review Shopping List', edit_list_path(@list) %>
  <%= nav_link 'Your Shopping List', list_path(@list) %>
</div>

<%= form_for @list do |list_form| %>
<%= hidden_field_tag "list[list_item_ids][]" %>
<%= hidden_field_tag "list[list_other_ids][]" %>  
  <div class="form-inputs">
    <%= list_form.label 'Name your shopping list:' %>
    <%= list_form.text_field :name %>
    <%= list_form.label 'Any notes about this list?' %>
    <%= list_form.text_field :comment %>

    <p> Review your shopping list. (Uncheck to remove items.) </p>

    <%= list_form.fields_for :item do |item_form| %>
      <% @list.list_items.each do |list_item| %> 
        </br>
        <%= check_box_tag "list[list_item_ids][]", list_item.id, @list.list_items.compact.include?(list_item) %>
        <% if list_item.item_amount %>
          <%= list_item.item_amount %>
          <%= list_item.unit %>
        <% else %>
          <%= list_item.item.default_amount %>
          <%= list_item.item.default_unit %>
        <% end %>    
        <%= list_item.item.name %>
        </br>
         
      <% end %>  

      <h4>Other Items</h4>
      <%= list_form.fields_for :other do |other_form| %>   
        <% @list.list_others.each do |list_other| %> 
          </br>
          <%= check_box_tag "list[list_other_ids][]", list_other.id, @list.list_others.compact.include?(list_other) %>
          <%= list_other.other.name %>
          </br>         
        <% end %>       
      <% end %>
    <% end %>
  </br> 
  </div> 

  <div class="form-actions">
    <%= list_form.button 'Finish', class: "btn btn-primary" %>
  </div>  
<% end %>  

  



