<h1>Your Lists</h1>

<% @lists.each do | list | %>
    <h4>
      <%= link_to list.name, edit_list_path(list) %>
    </h4>
      <%= list.comment %>
      Last Updated on <%= list.updated_at.strftime("%B %e, %Y") %>
<% end %>

<%= form_for @list do |f| %>
  <%= f.submit 'Make a New List', :class => "btn btn-primary" %>
<% end %>

