<div class="nav nav-tabs">
  <%= nav_link '1. Choose Recipes', new_or_edit_menu_path(@menu) %>  
  <%= nav_link '2. Choose Items', add_items_path(@list) %> 
  <%= nav_link '3. Review Shopping List', edit_list_path(@list) %>
  <%= nav_link 'Your Shopping List', list_path(@list) %>
</div>

<i>
  <%= @list.comment %>
</i>

<p>
  <h3><%= @list.name %></h3>
  <% @list.list_items.each do |list_item| %>
    <% if list_item.item_amount %>
      <%= list_item.item_amount %>
      <%= list_item.unit %>
    <% else %>
      <%= list_item.item.default_amount %>
      <%= list_item.item.default_unit %>
    <% end %>    
    <%= list_item.item.name %>
    </br>
  <% end %>
</p>    


