<div class="nav nav-tabs">
  <%= nav_link '1. Choose Recipes', new_menu_path %> 
  <%= nav_link '2. Choose Items', add_items_path(@list) %> 
  <%= nav_link '3. Review Shopping List', edit_list_path(@list) %>
  <%= nav_link 'Your Shopping List', list_path(@list) %>
</div>

<!-- <p>
  <strong>List:</strong>
  <%= @list.id %>
</p>
 -->

<i>
  <%= @list.comment %>
</i>

<p>
  <h3><%= @list.name %>:</h3>
  <% @list.items.each do |item| %>
    <%= item.name %></br>
  <% end %>
</p>    


