<div class="form-actions" >  
  <%= form_tag edit_menu_path(@menu), :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
  
  <%= form_for(@menu, remote: true) do |menu_form| %>
    <%= hidden_field_tag "menu[add_recipes][]" %>

      <div class="form-inputs">
        <% @recipes.each do |recipe| %>
          </br> 
          <%= check_box_tag "menu[add_recipes][]", recipe.id, @menu.recipes.compact.include?(recipe), :onclick => "this.form.submit_button.click();" %>
          <%= link_to recipe.name, recipe_path(recipe.id), :class => "checkbox inline" %>
          </br>

          <div class="instructions">
            <%= recipe.comment %>
          </div>

        <% end %>  
        </br>
      <%= will_paginate @recipes %>
    </div>

    <p>Done choosing recipes? (You'll have a chance to review.)</p>
    <%= link_to 'Continue', menu_path(@menu), :class => "btn btn-primary" %>
    <%= menu_form.submit :id => 'submit_button', :style => 'display: none;' %>
  <% end %>
</div>

