<div class="form-actions" >  
  <%= form_tag edit_menu_path(@menu), :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>

  <% @recipes.each do |recipe| %>
    <%= form_for(@menu, remote: true) do |menu_form| %>
      <%= hidden_field_tag "menu[add_recipe][]" %>
      <div class="form-inputs"> 
        </br> 
        <%= check_box_tag "menu[add_recipe][]", recipe.id, @menu.recipes.compact.include?(recipe), :onclick => "this.form.submit_button.click();" %>
        <%= link_to recipe.name, recipe_path(recipe.id), :class => "checkbox inline" %>
        </br>
        <div class="instructions">
          <%= recipe.comment %>
        </div>
       </br>
      </div>
      <%= menu_form.submit :id => 'submit_button', :style => 'display: none;' %>
    <% end %>
  <% end %>

  <%= will_paginate @recipes %>
  <p>Done choosing recipes? (You'll have a chance to review.)</p>
  <%= link_to 'Continue', menu_path(@menu), :class => "btn btn-primary" %>
</div>
