<div class="nav nav-tabs">
  <%= nav_link '1. Choose Recipes', edit_menu_path(@menu) %> 
  <%= nav_link '2. Choose Items', add_items_path(@list) %> 
  <%= nav_link '3. Review Shopping List', edit_list_path(@list) %>
  <%= nav_link 'Your Shopping List', list_path(@list) %>
</div>

<%= form_tag edit_menu_path(@menu), :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= link_to 'Add a New Recipe', new_recipe_path, class: "btn btn-primary" %> 

<%= form_for @menu do |menu_form| %>
<%= menu_form.hidden_field :list_id, value: @list.id %>
<%= hidden_field_tag "menu[selected_recipes][]" %>

  <%= render 'form', :menu_form => menu_form %> </br>
 
  <div class="form-actions">
    <%= menu_form.button 'Continue', class: " btn btn-primary" %>
  </div>

<% end %>
