

<!-- We want Choose Recipes and Choose Items and Review Shopping List as tabs across the top all pages.
  -->
<div class="nav nav-tabs">
<%= nav_link '1. Choose Recipes', new_menu_path %> 
<%= nav_link '2. Choose Items', items_path %> 
<%= nav_link '3. Review Shopping List', list_path(@list) %>
</div>

<%#= link_to 'Review Shopping List', _path, class: "btn btn-primary" %> 
<%= link_to 'Add a New Recipe', new_recipe_path, class: "btn btn-primary" %> 

<%= form_for @menu do |menu_form| %>
<%= menu_form.hidden_field :list_id, value: @list.id %>
<%= hidden_field_tag "menu[selected_recipes][]" %>

  <div class="form-inputs">
    <%= menu_form.label 'Menu name'%>
    <%= menu_form.text_field :name %>
    <%= menu_form.label :comment %>
    <%= menu_form.text_field :comment %>
    </br>

    <%= menu_form.fields_for :recipes do |recipe_form| %>
      <% @recipes.each do |recipe| %>
        </br> 

        <%= check_box_tag "menu[selected_recipes][]", recipe.id %>

        </br>
        <%= recipe.name %>
      <% end %>  
    <% end %>
  </br>
  
  </div>
 
  <div class="form-actions">
    <%= menu_form.button :submit %>
  </div>

<% end %>





