<h1>New Menu</h1>

<%= form_for @menu do |menu_form| %>
  

  <div class="form-inputs">
    <%= menu_form.label 'Menu name'%>
    <%= menu_form.text_field :name %>
    <%= menu_form.label :comment %>
    <%= menu_form.text_field :comment %>
    </br>

    <%= menu_form.fields_for :recipes do |recipe_form| %>
      <% @recipes.each do |recipe| %>
        <%= recipe.name %></br>
      <% end %>  
    <% end %>

  </div>

  <div class="form-actions">
    <%= menu_form.button :submit %>
  </div>

<% end %>

<%= link_to 'Back', menus_path %>
