<div class="nav nav-tabs">
  <%= nav_link '1. Choose Recipes', new_menu_path %> 
  <%= nav_link '2. Choose Items', add_items_path(@list) %> 
  <%= nav_link '3. Review Shopping List', edit_list_path(@list) %>
  <%= nav_link 'Your Shopping List', list_path(@list) %>
</div>

<input class="visibility_checkbox" type="checkbox" onclick="toggle_visibility()"> Hide Recipe Descriptions? </input> | 
<%= link_to 'Add a New Recipe', new_recipe_path %>

<div id="choose_recipes">
  
  <%= render 'choose_recipes'%>

</div>  

<script>
  var short_view = (localStorage.getItem("short_view")=="true");
  $(".visibility_checkbox").prop('checked', short_view);
  $(".instructions").toggle(!short_view);

  function toggle_visibility() {
    localStorage.setItem("short_view","" + !short_view);
    $(".instructions").toggle(); 
  };
</script> 