<h1>New Menu</h1>

<%= form_for @menu do |menu_form| %>
<%= hidden_field_tag "menu[selected_recipes][]" %>

  <div class="form-inputs">
    <%= menu_form.label 'Menu name'%>
    <%= menu_form.text_field :name %>
    <%= menu_form.label :comment %>
    <%= menu_form.text_field :comment %>
    </br>

    <%= menu_form.fields_for :recipes do |recipe_form| %>
      <% @recipes.each do |recipe| %>
        </br> 

        <%= check_box_tag "menu[selected_recipes][]", recipe.id %>

        </br>
        <%= recipe.name %>
      <% end %>  
    <% end %>
  </br>
 
  </div>
 
  <div class="form-actions">
    <%= menu_form.button :submit %>
  </div>

<% end %>

<div class="span4">
<%= link_to 'Add a New Recipe', new_recipe_path, class: "btn btn-primary" %>
</div>

