<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @menu.comment %>
</p>

<p>
  <strong>Recipes:</strong></br>
  <% @menu.recipes.each do |recipe| %>
    <%= recipe.name %></br>
  <% end %>  
</p> 

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', new_menu_path %>
