<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @menu.comment %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @menu.recipe_id %>
</p>

<p>
  <strong>List:</strong>
  <%= @menu.list_id %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
