<h1>New Item</h1>
<%= form_for @other do |other_form| %>
  <%= other_form.label :name,'Item Name:' %>
  <%= other_form.text_field :name %>
  <%= other_form.label :comment, 'Notes on Item:'%>
  <%= other_form.text_field :comment %> 
  <%= other_form.label :category %>
  <%= other_form.select :category, ["Personal Care", "Kitchen", "Baby stuff", "Cleaning products", "Office Supplies", "Food", "Other"] %>
 </br> 
 <%= other_form.button :submit, :class => "btn btn-primary" %>
<% end %>