<h1>Recipe Index</h1>
<%= link_to 'Create a Recipe', new_recipe_path, class: "btn btn-primary" %>
<% @recipes.each do | recipe | %>
  <h4>
    <%= recipe.name %>
  </h4>
  <%= recipe.comment %>
  </br>
  <% recipe.recipe_ingredients.each do |ing| %>
    <%= ing.ingredient.name %></br>
    <%= ing.amount %>

  <% end %>
<% end %>

  