<h1>New Recipe</h1>

 
<%= form_for @recipe, html: {class: "form-horizontal"} do |f| %>
  <fieldset id="recipe-meta">
    <ol>
      <li class="control-group">
        <%= f.label :name, "Recipe Name", class: "control-label" %>
        <div class="controls"><%= f.text_field :name %></div>
      </li>
      <li class="control-group">
        <%= f.label :comment, "A brief description of this recipe", class: "control-label" %>
        <div class="controls"><%= f.text_area :comment, rows: 5 %></div>
      </li>
     
    </ol> 
  </fieldset> 
 
  <fieldset id="recipe-ingredients"> 
    <ol> 
      <%= f.fields_for :recipe_items do |recipe_item| %> 
        <%= render 'recipe_item_fields', f: recipe_item %> 
      <% end %> 
    </ol> 
     <%= link_to_add_association 'add ingredient', f, :recipe_items, 'data-association-insertion-node' => "#recipe-ingredients ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|recipe_item| recipe_item.build_item; recipe_item } %>
  </fieldset> 
 
  <%= f.submit %> 
<% end %>
 
