<h1>New Recipe</h1>
<%= form_for @recipe do |recipe_form| %>
  <%= recipe_form.label :name,'Recipe Name:' %>
  <%= recipe_form.text_field :name %>
  <%= recipe_form.label :comment, 'Comments on Recipe'%>
  <%= recipe_form.text_field :comment %> 
  </br>

  <%= recipe_form.fields_for :recipe_items do |rec_item_field| %>
    <%= rec_item_field.label :item_amount, 'Ingredient Amount' %>
    <%= rec_item_field.number_field :item_amount %>

      <%= rec_item_field.fields_for :item do |item| %>
        <%= item.label :name,'Ingredient Name' %>
        <%= item.text_field :name%>
        <%= item.label :comment, 'Comments on Ingredient' %>
        <%= item.text_field :comment %> 
      <% end %>  

  <% end %> 
  </br>

  <%= recipe_form.button :submit, :class => "btn btn-primary" %>
<% end %>


