<h1><%= @recipe.name %></h1>

<p><%= @recipe.comment %></p>
</br>
<% @recipe.recipe_items.each do |ingredient| %>
  <p><%= ingredient.item_amount %>
  <%= ingredient.unit %>
  <%= ingredient.item.name %></p>
  </br>
<% end %>  

