<% if user_signed_in? %>
  <nav>
<ul class="nav">
  <%= nav_link "Home", root_path, :class => 'brand' %>

    <%= nav_link 'Logout', destroy_user_session_path, :method=>'delete' %>
    </ul>
  </nav>  


  <% else %>
    <nav>  
<ul class="nav">
    <%= nav_link 'Login', new_user_session_path %>
    <%= nav_link 'Sign up', new_user_registration_path %>
    </ul>
  </nav>  
    <% end %>


  <% if user_signed_in? %>
    <li>
    <%= nav_link 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= nav_link 'Admin', users_path %>
      </li>
    <% end %>

  <% else %>
  <ul class="nav pull-right">
<!--     <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  </ul> -->
</ul>
  <% end %>