<% if user_signed_in? %>
  <nav class="nav nav-tabs">
      <%= nav_link "Home", root_path %>
      <% if current_user.has_role? :admin %>
        <%= nav_link 'Admin', users_path %>
      <% end %>
        <%= link_to 'Logout', destroy_user_session_path, :class => "pull-right", :method => :delete %>
        <%= link_to 'Edit account', edit_user_registration_path, :class => "pull-right" %>      
  </nav>  
<% else %>
  <nav class="nav nav-tabs">
      <%= nav_link 'Login', new_user_session_path %>
      <%= nav_link 'Sign up', new_user_registration_path %>
  </nav>  
<% end %>


 